body
{
	margin-bottom: 10rem;
}

.top-bar, .top-bar-left, .top-bar-right li{
background-color:#fff !important;
}

.logo a{
padding: 0 !important;
}

.logo img{
height:80px;
}

.top-bar-right{
padding: 20px;
}

.menu-button{
	margin-left: 16px;
}

.callout{
	background-color: #eee;
}

.footer
{
	background: white;
}
